* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.bgColorLightGray {
    background-color: lightslategray;
}

.bgColorGray {
    background-color: slategray;
}

.bgColorDarkGray {
    background-color: darkslategrey;
}

.bgColorWhiteSmoke {
    background-color: whitesmoke;

}

.colorDarkGray {
    color: darkslategrey;
}


.colorWhiteSmoke {
    color: whitesmoke;
}

.index {
    min-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template: "top top" 400px "left right" 1fr / 1fr 2fr;
    color: whitesmoke;
}

.index *:disabled {
    background-color: dimgray;
    color: black;
}

.index ul {
    padding: 20px;
    border: 2px solid whitesmoke;
    list-style-type: none;
}

#formInput{
    align-self: center;
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
}

#formInput input {
    height: 30px;
    width: 100%;
}

.top {
    border: 2px solid whitesmoke;
    grid-area: top;
    padding: 50px;
}

.left {
    display: grid;
    grid-template: 
        "form form" 1fr
        "update add" 1fr
        "delete edit" 1fr
        "keyBtn keyTxt" 1fr / 1fr 1fr;
    grid-gap: 5px;
    border: 2px solid whitesmoke;
    grid-area: left;
    padding: 15px;
}

.right {
    border: 2px solid whitesmoke;
    padding: 30px;
    grid-area: right;
}

.btn {
    padding: 5px;
    width: 100%;
    border-radius: 15px;
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
    justify-self: center;
    font-size: 18px;
}

button:hover {
    background-color: whitesmoke;
    color: darkslategray;
}

#bookList {
    height: 85%;
    width: 100%;
    overflow: scroll;
}

#bookList ul:hover {
    background-color: whitesmoke;
    color: darkslategray;
}

#addBtn {
    grid-area: add;
}

#confirmEditBtn {
    display: none
}

#delBtn {
    grid-area: delete;
}

#editBtn {
    grid-area: edit;
}

#keyBtn {
    grid-area: keyBtn;
}

#keyTxt {
    text-align: center;
}

#updateBtn {
    grid-area: update;
}

#status {
    text-align: center;
    height: 20px;
    margin: 0 auto;
}

#selbook {
    margin-top: 50%;
}

#selId:before, .id:before {
    content: "Id:           ";
}

#selTitle:before, .title:before {
    content: "Title:        ";
}

#selAuthor:before, .author:before {
    content: "Author:       ";
}

#selUpdated:before, .updated:before {
    content: "Last Updated: ";
}



